USE [LAPEinnahmeAusgabeRechner]
GO
/****** Object:  Table [dbo].[AUSGABE]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUSGABE](
	[AUSGABEID] [bigint] IDENTITY(1,1) NOT NULL,
	[KATEGORIEID] [bigint] NOT NULL,
	[BESCHREIBUNG] [nvarchar](100) NULL,
	[BETRAG] [decimal](18, 2) NOT NULL,
	[DATUM] [datetime] NOT NULL,
	[VALID] [smallint] NOT NULL,
	[MOD_USER] [nvarchar](256) NOT NULL,
	[MOD_TIMESTAMP] [datetime] NOT NULL,
	[CR_USER] [nvarchar](256) NOT NULL,
	[CR_TIMESTAMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AUSGABE] PRIMARY KEY CLUSTERED 
(
	[AUSGABEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EINNAHME]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EINNAHME](
	[EINNAHMEID] [bigint] IDENTITY(1,1) NOT NULL,
	[KATEGORIEID] [bigint] NOT NULL,
	[BESCHREIBUNG] [nvarchar](100) NULL,
	[BETRAG] [decimal](18, 2) NOT NULL,
	[DATUM] [datetime] NOT NULL,
	[VALID] [smallint] NOT NULL,
	[MOD_USER] [nvarchar](256) NOT NULL,
	[MOD_TIMESTAMP] [datetime] NOT NULL,
	[CR_USER] [nvarchar](256) NOT NULL,
	[CR_TIMESTAMP] [datetime] NOT NULL,
 CONSTRAINT [PK_EINNAHME] PRIMARY KEY CLUSTERED 
(
	[EINNAHMEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATEGORIE]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORIE](
	[KATEGORIEID] [bigint] IDENTITY(1,1) NOT NULL,
	[BEZEICHNUNG] [nvarchar](50) NOT NULL,
	[FARBE] [char](7) NOT NULL,
	[VALID] [smallint] NOT NULL,
	[MOD_USER] [nvarchar](256) NOT NULL,
	[MOD_TIMESTAMP] [datetime] NOT NULL,
	[CR_USER] [nvarchar](256) NOT NULL,
	[CR_TIMESTAMP] [datetime] NOT NULL,
 CONSTRAINT [PK_KATEGORIE] PRIMARY KEY CLUSTERED 
(
	[KATEGORIEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AUSGABE] ON 

INSERT [dbo].[AUSGABE] ([AUSGABEID], [KATEGORIEID], [BESCHREIBUNG], [BETRAG], [DATUM], [VALID], [MOD_USER], [MOD_TIMESTAMP], [CR_USER], [CR_TIMESTAMP]) VALUES (7, 4, N'Schuhe New Balance', CAST(149.99 AS Decimal(18, 2)), CAST(N'2024-07-18T00:00:00.000' AS DateTime), 1, N'dbo', CAST(N'2024-07-29T13:06:08.827' AS DateTime), N'dbo', CAST(N'2024-07-29T13:06:08.827' AS DateTime))
INSERT [dbo].[AUSGABE] ([AUSGABEID], [KATEGORIEID], [BESCHREIBUNG], [BETRAG], [DATUM], [VALID], [MOD_USER], [MOD_TIMESTAMP], [CR_USER], [CR_TIMESTAMP]) VALUES (8, 5, N'Gaming Maus', CAST(120.00 AS Decimal(18, 2)), CAST(N'2024-07-28T00:00:00.000' AS DateTime), 1, N'dbo', CAST(N'2024-07-29T13:07:16.167' AS DateTime), N'dbo', CAST(N'2024-07-29T13:07:16.167' AS DateTime))
INSERT [dbo].[AUSGABE] ([AUSGABEID], [KATEGORIEID], [BESCHREIBUNG], [BETRAG], [DATUM], [VALID], [MOD_USER], [MOD_TIMESTAMP], [CR_USER], [CR_TIMESTAMP]) VALUES (9, 9, N'Abendessen', CAST(35.75 AS Decimal(18, 2)), CAST(N'2024-07-28T00:00:00.000' AS DateTime), 1, N'dbo', CAST(N'2024-07-29T13:08:11.437' AS DateTime), N'dbo', CAST(N'2024-07-29T13:08:11.437' AS DateTime))
SET IDENTITY_INSERT [dbo].[AUSGABE] OFF
GO
SET IDENTITY_INSERT [dbo].[EINNAHME] ON 

INSERT [dbo].[EINNAHME] ([EINNAHMEID], [KATEGORIEID], [BESCHREIBUNG], [BETRAG], [DATUM], [VALID], [MOD_USER], [MOD_TIMESTAMP], [CR_USER], [CR_TIMESTAMP]) VALUES (8, 10, N'Raptor', CAST(213.12 AS Decimal(18, 2)), CAST(N'2024-07-29T00:00:00.000' AS DateTime), 1, N'dbo', CAST(N'2024-07-29T13:04:10.080' AS DateTime), N'dbo', CAST(N'2024-07-29T13:04:10.080' AS DateTime))
INSERT [dbo].[EINNAHME] ([EINNAHMEID], [KATEGORIEID], [BESCHREIBUNG], [BETRAG], [DATUM], [VALID], [MOD_USER], [MOD_TIMESTAMP], [CR_USER], [CR_TIMESTAMP]) VALUES (9, 10, N'Microsoft', CAST(123.00 AS Decimal(18, 2)), CAST(N'2024-07-28T00:00:00.000' AS DateTime), 1, N'dbo', CAST(N'2024-07-29T13:04:52.803' AS DateTime), N'dbo', CAST(N'2024-07-29T13:04:52.803' AS DateTime))
INSERT [dbo].[EINNAHME] ([EINNAHMEID], [KATEGORIEID], [BESCHREIBUNG], [BETRAG], [DATUM], [VALID], [MOD_USER], [MOD_TIMESTAMP], [CR_USER], [CR_TIMESTAMP]) VALUES (10, 8, N'Monatliches Gehalt', CAST(1687.23 AS Decimal(18, 2)), CAST(N'2024-07-29T00:00:00.000' AS DateTime), 1, N'dbo', CAST(N'2024-07-29T13:05:12.620' AS DateTime), N'dbo', CAST(N'2024-07-29T13:05:12.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[EINNAHME] OFF
GO
SET IDENTITY_INSERT [dbo].[KATEGORIE] ON 

INSERT [dbo].[KATEGORIE] ([KATEGORIEID], [BEZEICHNUNG], [FARBE], [VALID], [MOD_USER], [MOD_TIMESTAMP], [CR_USER], [CR_TIMESTAMP]) VALUES (4, N'Shoppen', N'#dad549', 1, N'dbo', CAST(N'2024-07-29T09:03:48.760' AS DateTime), N'dbo', CAST(N'2024-07-29T09:03:48.760' AS DateTime))
INSERT [dbo].[KATEGORIE] ([KATEGORIEID], [BEZEICHNUNG], [FARBE], [VALID], [MOD_USER], [MOD_TIMESTAMP], [CR_USER], [CR_TIMESTAMP]) VALUES (5, N'Gaming', N'#9e25cb', 1, N'dbo', CAST(N'2024-07-29T09:03:57.460' AS DateTime), N'dbo', CAST(N'2024-07-29T09:03:57.460' AS DateTime))
INSERT [dbo].[KATEGORIE] ([KATEGORIEID], [BEZEICHNUNG], [FARBE], [VALID], [MOD_USER], [MOD_TIMESTAMP], [CR_USER], [CR_TIMESTAMP]) VALUES (6, N'Elektronik', N'#3faef3', 1, N'dbo', CAST(N'2024-07-29T09:04:11.090' AS DateTime), N'dbo', CAST(N'2024-07-29T09:04:11.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[KATEGORIE] OFF
GO
/****** Object:  Index [IX_AUSGABE_VALID]    Script Date: 01.08.2024 14:21:10 ******/
CREATE NONCLUSTERED INDEX [IX_AUSGABE_VALID] ON [dbo].[AUSGABE]
(
	[VALID] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EINNAHME_VALID]    Script Date: 01.08.2024 14:21:10 ******/
CREATE NONCLUSTERED INDEX [IX_EINNAHME_VALID] ON [dbo].[EINNAHME]
(
	[VALID] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KATEGORIE_VALID]    Script Date: 01.08.2024 14:21:10 ******/
CREATE NONCLUSTERED INDEX [IX_KATEGORIE_VALID] ON [dbo].[KATEGORIE]
(
	[VALID] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UIX_KATEGORIE_BEZEICHNUNG]    Script Date: 01.08.2024 14:21:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_KATEGORIE_BEZEICHNUNG] ON [dbo].[KATEGORIE]
(
	[BEZEICHNUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUSGABE] ADD  CONSTRAINT [DF_AUSGABE_VALID]  DEFAULT ((1)) FOR [VALID]
GO
ALTER TABLE [dbo].[EINNAHME] ADD  CONSTRAINT [DF_EINNAHME_VALID]  DEFAULT ((1)) FOR [VALID]
GO
ALTER TABLE [dbo].[KATEGORIE] ADD  CONSTRAINT [DF_KATEGORIE_VALID]  DEFAULT ((1)) FOR [VALID]
GO
ALTER TABLE [dbo].[AUSGABE]  WITH CHECK ADD  CONSTRAINT [FK_AUSGABE_KATEGORIE] FOREIGN KEY([KATEGORIEID])
REFERENCES [dbo].[KATEGORIE] ([KATEGORIEID])
GO
ALTER TABLE [dbo].[AUSGABE] CHECK CONSTRAINT [FK_AUSGABE_KATEGORIE]
GO
ALTER TABLE [dbo].[EINNAHME]  WITH CHECK ADD  CONSTRAINT [FK_EINNAHME_KATEGORIE] FOREIGN KEY([KATEGORIEID])
REFERENCES [dbo].[KATEGORIE] ([KATEGORIEID])
GO
ALTER TABLE [dbo].[EINNAHME] CHECK CONSTRAINT [FK_EINNAHME_KATEGORIE]
GO
/****** Object:  StoredProcedure [dbo].[AusgabeDelete]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AusgabeDelete] ( 
	@AUSGABEID			BIGINT
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DELETE FROM [AUSGABE]
	WHERE
		AUSGABEID = @AUSGABEID

END
GO
/****** Object:  StoredProcedure [dbo].[AusgabeGetAll]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AusgabeGetAll] ( 
	@VALID			SMALLINT = 1
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	SELECT
		T.AUSGABEID,
		T.KATEGORIEID,
		J1.BEZEICHNUNG AS KATEGORIEBEZEICHNUNG,
		J1.FARBE AS KATEGORIEFARBE,
		T.BESCHREIBUNG,
		T.BETRAG,
		T.DATUM,
		T.VALID,
		T.MOD_USER,
		T.MOD_TIMESTAMP,
		T.CR_USER,
		T.CR_TIMESTAMP
	FROM AUSGABE T
	INNER JOIN KATEGORIE J1 ON J1.KATEGORIEID = T.KATEGORIEID
	WHERE 
		T.VALID = @VALID

END
GO
/****** Object:  StoredProcedure [dbo].[AusgabeGetByAusgabeID]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AusgabeGetByAusgabeID] ( 
	@AUSGABEID	BIGINT,
	@VALID			SMALLINT = 1
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	SELECT
		T.AUSGABEID,
		T.KATEGORIEID,
		J1.BEZEICHNUNG AS KATEGORIEBEZEICHNUNG,
		J1.FARBE AS KATEGORIEFARBE,
		T.BESCHREIBUNG,
		T.BETRAG,
		T.DATUM,
		T.VALID,
		T.MOD_USER,
		T.MOD_TIMESTAMP,
		T.CR_USER,
		T.CR_TIMESTAMP
	FROM AUSGABE T
	INNER JOIN KATEGORIE J1 ON J1.KATEGORIEID = T.KATEGORIEID
	WHERE 
		T.VALID = @VALID
	AND T.AUSGABEID = @AUSGABEID

END
GO
/****** Object:  StoredProcedure [dbo].[AusgabeGetByKategorieID]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AusgabeGetByKategorieID] ( 
	@KATEGORIEID	BIGINT,
	@VALID			SMALLINT = 1
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	SELECT
		T.AUSGABEID,
		T.KATEGORIEID,
		J1.BEZEICHNUNG AS KATEGORIEBEZEICHNUNG,
		J1.FARBE AS KATEGORIEFARBE,
		T.BESCHREIBUNG,
		T.BETRAG,
		T.DATUM,
		T.VALID,
		T.MOD_USER,
		T.MOD_TIMESTAMP,
		T.CR_USER,
		T.CR_TIMESTAMP
	FROM AUSGABE T
	INNER JOIN KATEGORIE J1 ON J1.KATEGORIEID = T.KATEGORIEID
	WHERE 
		T.VALID = @VALID
	AND T.KATEGORIEID = @KATEGORIEID

END
GO
/****** Object:  StoredProcedure [dbo].[AusgabeInsert]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AusgabeInsert] ( 
	@KATEGORIEID	BIGINT,
	@BESCHREIBUNG	NVARCHAR(100),
	@BETRAG	DECIMAL(18,2),
	@DATUM	DATETIME,
	@VALID			SMALLINT = 1
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	INSERT INTO AUSGABE (
		KATEGORIEID,
		BESCHREIBUNG,
		BETRAG,
		DATUM,
		VALID, 
		MOD_USER, MOD_TIMESTAMP, CR_USER, CR_TIMESTAMP)
	VALUES (
		@KATEGORIEID,
		@BESCHREIBUNG,
		@BETRAG,
		@DATUM,
		CASE
			WHEN @VALID IN (0,1) THEN @VALID
			WHEN @VALID IS NULL			  THEN 1
			ELSE 0
		END,
		CURRENT_USER, CURRENT_TIMESTAMP, CURRENT_USER, CURRENT_TIMESTAMP
	)

	SELECT @@IDENTITY AS AUSGABEID

END
GO
/****** Object:  StoredProcedure [dbo].[AusgabeUpdate]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AusgabeUpdate] ( 
	@AUSGABEID			BIGINT,
	@KATEGORIEID	BIGINT,
	@BESCHREIBUNG	NVARCHAR(100),
	@BETRAG	DECIMAL(18,2),
	@DATUM	DATETIME,
	@VALID			SMALLINT = 1
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	UPDATE [AUSGABE] SET
		KATEGORIEID = @KATEGORIEID,
		BESCHREIBUNG = @BESCHREIBUNG,
		BETRAG = @BETRAG,
		DATUM = @DATUM,
		VALID = CASE
			WHEN @VALID IN (0,1) THEN @VALID
			ELSE 0
		END, 
		MOD_USER		= CURRENT_USER,
		MOD_TIMESTAMP	= CURRENT_TIMESTAMP
	WHERE
		AUSGABEID = @AUSGABEID

END
GO
/****** Object:  StoredProcedure [dbo].[EinnahmeDelete]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EinnahmeDelete] ( 
	@EINNAHMEID			BIGINT
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DELETE FROM [EINNAHME]
	WHERE
		EINNAHMEID = @EINNAHMEID

END
GO
/****** Object:  StoredProcedure [dbo].[EinnahmeGetAll]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EinnahmeGetAll] ( 
	@VALID			SMALLINT = 1
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	SELECT
		T.EINNAHMEID,
		T.KATEGORIEID,
		J1.BEZEICHNUNG AS KATEGORIEBEZEICHNUNG,
		J1.FARBE AS KATEGORIEFARBE,
		T.BESCHREIBUNG,
		T.BETRAG,
		T.DATUM,
		T.VALID,
		T.MOD_USER,
		T.MOD_TIMESTAMP,
		T.CR_USER,
		T.CR_TIMESTAMP
	FROM EINNAHME T
	INNER JOIN KATEGORIE J1 ON J1.KATEGORIEID = T.KATEGORIEID
	WHERE 
		T.VALID = @VALID

END
GO
/****** Object:  StoredProcedure [dbo].[EinnahmeGetByEinnahmeID]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EinnahmeGetByEinnahmeID] ( 
	@EINNAHMEID	BIGINT,
	@VALID			SMALLINT = 1
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	SELECT
		T.EINNAHMEID,
		T.KATEGORIEID,
		J1.BEZEICHNUNG AS KATEGORIEBEZEICHNUNG,
		J1.FARBE AS KATEGORIEFARBE,
		T.BESCHREIBUNG,
		T.BETRAG,
		T.DATUM,
		T.VALID,
		T.MOD_USER,
		T.MOD_TIMESTAMP,
		T.CR_USER,
		T.CR_TIMESTAMP
	FROM EINNAHME T
	INNER JOIN KATEGORIE J1 ON J1.KATEGORIEID = T.KATEGORIEID
	WHERE 
		T.VALID = @VALID
	AND T.EINNAHMEID = @EINNAHMEID

END
GO
/****** Object:  StoredProcedure [dbo].[EinnahmeGetByKategorieID]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EinnahmeGetByKategorieID] ( 
	@KATEGORIEID	BIGINT,
	@VALID			SMALLINT = 1
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	SELECT
		T.EINNAHMEID,
		T.KATEGORIEID,
		J1.BEZEICHNUNG AS KATEGORIEBEZEICHNUNG,
		J1.FARBE AS KATEGORIEFARBE,
		T.BESCHREIBUNG,
		T.BETRAG,
		T.DATUM,
		T.VALID,
		T.MOD_USER,
		T.MOD_TIMESTAMP,
		T.CR_USER,
		T.CR_TIMESTAMP
	FROM EINNAHME T
	INNER JOIN KATEGORIE J1 ON J1.KATEGORIEID = T.KATEGORIEID
	WHERE 
		T.VALID = @VALID
	AND T.KATEGORIEID = @KATEGORIEID

END
GO
/****** Object:  StoredProcedure [dbo].[EinnahmeInsert]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EinnahmeInsert] ( 
	@KATEGORIEID	BIGINT,
	@BESCHREIBUNG	NVARCHAR(100),
	@BETRAG	DECIMAL(18,2),
	@DATUM	DATETIME,
	@VALID			SMALLINT = 1
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	INSERT INTO EINNAHME (
		KATEGORIEID,
		BESCHREIBUNG,
		BETRAG,
		DATUM,
		VALID, 
		MOD_USER, MOD_TIMESTAMP, CR_USER, CR_TIMESTAMP)
	VALUES (
		@KATEGORIEID,
		@BESCHREIBUNG,
		@BETRAG,
		@DATUM,
		CASE
			WHEN @VALID IN (0,1) THEN @VALID
			WHEN @VALID IS NULL			  THEN 1
			ELSE 0
		END,
		CURRENT_USER, CURRENT_TIMESTAMP, CURRENT_USER, CURRENT_TIMESTAMP
	)

	SELECT @@IDENTITY AS EINNAHMEID

END
GO
/****** Object:  StoredProcedure [dbo].[EinnahmeUpdate]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EinnahmeUpdate] ( 
	@EINNAHMEID			BIGINT,
	@KATEGORIEID	BIGINT,
	@BESCHREIBUNG	NVARCHAR(100),
	@BETRAG	DECIMAL(18,2),
	@DATUM	DATETIME,
	@VALID			SMALLINT = 1
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	UPDATE [EINNAHME] SET
		KATEGORIEID = @KATEGORIEID,
		BESCHREIBUNG = @BESCHREIBUNG,
		BETRAG = @BETRAG,
		DATUM = @DATUM,
		VALID = CASE
			WHEN @VALID IN (0,1) THEN @VALID
			ELSE 0
		END, 
		MOD_USER		= CURRENT_USER,
		MOD_TIMESTAMP	= CURRENT_TIMESTAMP
	WHERE
		EINNAHMEID = @EINNAHMEID

END
GO
/****** Object:  StoredProcedure [dbo].[KategorieDelete]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[KategorieDelete] ( 
	@KATEGORIEID			BIGINT
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DELETE FROM [KATEGORIE]
	WHERE
		KATEGORIEID = @KATEGORIEID

END
GO
/****** Object:  StoredProcedure [dbo].[KategorieGetAll]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[KategorieGetAll] ( 
	@VALID			SMALLINT = 1
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	SELECT
		T.KATEGORIEID,
		T.BEZEICHNUNG,
		T.FARBE,
		T.VALID,
		T.MOD_USER,
		T.MOD_TIMESTAMP,
		T.CR_USER,
		T.CR_TIMESTAMP
	FROM KATEGORIE T
	WHERE 
		T.VALID = @VALID

END
GO
/****** Object:  StoredProcedure [dbo].[KategorieGetByKategorieID]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[KategorieGetByKategorieID] ( 
	@KATEGORIEID	BIGINT,
	@VALID			SMALLINT = 1
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	SELECT
		T.KATEGORIEID,
		T.BEZEICHNUNG,
		T.FARBE,
		T.VALID,
		T.MOD_USER,
		T.MOD_TIMESTAMP,
		T.CR_USER,
		T.CR_TIMESTAMP
	FROM KATEGORIE T
	WHERE 
		T.VALID = @VALID
	AND T.KATEGORIEID = @KATEGORIEID

END
GO
/****** Object:  StoredProcedure [dbo].[KategorieInsert]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[KategorieInsert] ( 
	@BEZEICHNUNG	NVARCHAR(50),
	@FARBE	CHAR(7),
	@VALID			SMALLINT = 1
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	INSERT INTO KATEGORIE (
		BEZEICHNUNG,
		FARBE,
		VALID, 
		MOD_USER, MOD_TIMESTAMP, CR_USER, CR_TIMESTAMP)
	VALUES (
		@BEZEICHNUNG,
		@FARBE,
		CASE
			WHEN @VALID IN (0,1) THEN @VALID
			WHEN @VALID IS NULL			  THEN 1
			ELSE 0
		END,
		CURRENT_USER, CURRENT_TIMESTAMP, CURRENT_USER, CURRENT_TIMESTAMP
	)

	SELECT @@IDENTITY AS KATEGORIEID

END
GO
/****** Object:  StoredProcedure [dbo].[KategorieUpdate]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[KategorieUpdate] ( 
	@KATEGORIEID			BIGINT,
	@BEZEICHNUNG	NVARCHAR(50),
	@FARBE	CHAR(7),
	@VALID			SMALLINT = 1
) AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	UPDATE [KATEGORIE] SET
		BEZEICHNUNG = @BEZEICHNUNG,
		FARBE = @FARBE,
		VALID = CASE
			WHEN @VALID IN (0,1) THEN @VALID
			ELSE 0
		END, 
		MOD_USER		= CURRENT_USER,
		MOD_TIMESTAMP	= CURRENT_TIMESTAMP
	WHERE
		KATEGORIEID = @KATEGORIEID

END
GO
/****** Object:  Trigger [dbo].[TRG_BI_AUSGABE]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[TRG_BI_AUSGABE] ON [dbo].[AUSGABE] INSTEAD OF INSERT AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	INSERT INTO AUSGABE (KATEGORIEID, BESCHREIBUNG, BETRAG, DATUM, VALID, MOD_USER, MOD_TIMESTAMP, CR_USER, CR_TIMESTAMP)
	SELECT
		KATEGORIEID,
		BESCHREIBUNG,
		BETRAG,
		DATUM,
		CASE
			WHEN VALID IN (0,1) THEN VALID
			WHEN VALID IS NULL	THEN 1
			ELSE 0
		END					AS VALID,
		CURRENT_USER		AS MOD_USER,
		CURRENT_TIMESTAMP	AS MOD_TIMESTAMP,
		CURRENT_USER		AS CR_USER,
		CURRENT_TIMESTAMP	AS CR_TIMESTAMP
	FROM INSERTED

END
GO
ALTER TABLE [dbo].[AUSGABE] ENABLE TRIGGER [TRG_BI_AUSGABE]
GO
/****** Object:  Trigger [dbo].[TRG_BU_AUSGABE]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[TRG_BU_AUSGABE] ON [dbo].[AUSGABE] INSTEAD OF UPDATE AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	UPDATE [AUSGABE] SET
		[AUSGABE].KATEGORIEID = I.KATEGORIEID,
		[AUSGABE].BESCHREIBUNG = I.BESCHREIBUNG,
		[AUSGABE].BETRAG = I.BETRAG,
		[AUSGABE].DATUM = I.DATUM,
		[AUSGABE].VALID = CASE
			WHEN I.VALID IN (0,1) THEN I.VALID
			ELSE 0
		END,
		[AUSGABE].MOD_USER		= CURRENT_USER,
		[AUSGABE].MOD_TIMESTAMP = CURRENT_TIMESTAMP
	FROM [AUSGABE]
	INNER JOIN INSERTED I 
	ON [AUSGABE].[AUSGABEID] = I.[AUSGABEID]

END
GO
ALTER TABLE [dbo].[AUSGABE] ENABLE TRIGGER [TRG_BU_AUSGABE]
GO
/****** Object:  Trigger [dbo].[TRG_BI_EINNAHME]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[TRG_BI_EINNAHME] ON [dbo].[EINNAHME] INSTEAD OF INSERT AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	INSERT INTO EINNAHME (KATEGORIEID, BESCHREIBUNG, BETRAG, DATUM, VALID, MOD_USER, MOD_TIMESTAMP, CR_USER, CR_TIMESTAMP)
	SELECT
		KATEGORIEID,
		BESCHREIBUNG,
		BETRAG,
		DATUM,
		CASE
			WHEN VALID IN (0,1) THEN VALID
			WHEN VALID IS NULL	THEN 1
			ELSE 0
		END					AS VALID,
		CURRENT_USER		AS MOD_USER,
		CURRENT_TIMESTAMP	AS MOD_TIMESTAMP,
		CURRENT_USER		AS CR_USER,
		CURRENT_TIMESTAMP	AS CR_TIMESTAMP
	FROM INSERTED

END
GO
ALTER TABLE [dbo].[EINNAHME] ENABLE TRIGGER [TRG_BI_EINNAHME]
GO
/****** Object:  Trigger [dbo].[TRG_BU_EINNAHME]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[TRG_BU_EINNAHME] ON [dbo].[EINNAHME] INSTEAD OF UPDATE AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	UPDATE [EINNAHME] SET
		[EINNAHME].KATEGORIEID = I.KATEGORIEID,
		[EINNAHME].BESCHREIBUNG = I.BESCHREIBUNG,
		[EINNAHME].BETRAG = I.BETRAG,
		[EINNAHME].DATUM = I.DATUM,
		[EINNAHME].VALID = CASE
			WHEN I.VALID IN (0,1) THEN I.VALID
			ELSE 0
		END,
		[EINNAHME].MOD_USER		= CURRENT_USER,
		[EINNAHME].MOD_TIMESTAMP = CURRENT_TIMESTAMP
	FROM [EINNAHME]
	INNER JOIN INSERTED I 
	ON [EINNAHME].[EINNAHMEID] = I.[EINNAHMEID]

END
GO
ALTER TABLE [dbo].[EINNAHME] ENABLE TRIGGER [TRG_BU_EINNAHME]
GO
/****** Object:  Trigger [dbo].[TRG_BI_KATEGORIE]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[TRG_BI_KATEGORIE] ON [dbo].[KATEGORIE] INSTEAD OF INSERT AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	INSERT INTO KATEGORIE (BEZEICHNUNG, FARBE, VALID, MOD_USER, MOD_TIMESTAMP, CR_USER, CR_TIMESTAMP)
	SELECT
		BEZEICHNUNG,
		FARBE,
		CASE
			WHEN VALID IN (0,1) THEN VALID
			WHEN VALID IS NULL	THEN 1
			ELSE 0
		END					AS VALID,
		CURRENT_USER		AS MOD_USER,
		CURRENT_TIMESTAMP	AS MOD_TIMESTAMP,
		CURRENT_USER		AS CR_USER,
		CURRENT_TIMESTAMP	AS CR_TIMESTAMP
	FROM INSERTED

END
GO
ALTER TABLE [dbo].[KATEGORIE] ENABLE TRIGGER [TRG_BI_KATEGORIE]
GO
/****** Object:  Trigger [dbo].[TRG_BU_KATEGORIE]    Script Date: 01.08.2024 14:21:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[TRG_BU_KATEGORIE] ON [dbo].[KATEGORIE] INSTEAD OF UPDATE AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	UPDATE [KATEGORIE] SET
		[KATEGORIE].BEZEICHNUNG = I.BEZEICHNUNG,
		[KATEGORIE].FARBE = I.FARBE,
		[KATEGORIE].VALID = CASE
			WHEN I.VALID IN (0,1) THEN I.VALID
			ELSE 0
		END,
		[KATEGORIE].MOD_USER		= CURRENT_USER,
		[KATEGORIE].MOD_TIMESTAMP = CURRENT_TIMESTAMP
	FROM [KATEGORIE]
	INNER JOIN INSERTED I 
	ON [KATEGORIE].[KATEGORIEID] = I.[KATEGORIEID]

END
GO
ALTER TABLE [dbo].[KATEGORIE] ENABLE TRIGGER [TRG_BU_KATEGORIE]
GO
